* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --colorLogo: #d90368;
    --colorClaro: #FFF5EE;
    --colorOscuro: #212529
}

body {
    background-color: var(--colorClaro);
    background-image: url("../assets/polygon-background.svg");
    background-attachment: fixed;
    }

main {
    min-height: 85.3vh;
}

/*======================NAVBAR======================*/
/*==Text==*/
.navbar-nav {
    margin-right: 20px;
}
.navbar-nav a {
    font-size: 20px;
    color: var(--colorClaro);
    transition: color 0.3s ease-out 5ms;
}
.navbar-nav a:hover {
    color: var(--colorLogo);
    -webkit-transform:scale(1);
    transform:scale(1.1);
}

/*==Brand==*/
.navbarLogo {
    width: 15vh;
}
.navbar-brand {
    margin-left: 20px;
}
.navbar-brand:hover {
    filter: saturate(190%);
}

/*======================TITLE======================*/
.title {
    padding: 8vh;
    background-image: url("../assets/title-background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--colorLogo);
}

/*==Flechas==*/
.title a {
    text-decoration: none;
    color: var(--colorLogo);
    width: 50px;
}
.title a:hover{
    filter: saturate(80%);
}

/*======================CHECKBOXES======================*/

.searchBarContainer{
    /*position: sticky;
    top: 10vh;¨*/
    color: var(--colorLogo);
}

.searchBar {
    margin-top: 70px;
    margin-bottom: 5px;
}
.categoryCheckboxes {
    width: 50vh;
}

/*======================MAIN-CARDS======================*/
#cards{
    margin-top: 5%;
    gap: 40px;
    /*padding: 10vh;*/
}
.cardMain {
    position:static;
    margin-bottom: 40px;
    width: 20rem;
    max-height: 50rem;
    overflow:hidden;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    transition: all 0.3s ease-out 5ms;
}

.eventImg {
    min-height: 15rem;
    overflow:hidden;
    transition: all 0.3s ease-out 5ms;
}

.cardMain:hover {
    border: 1px solid var(--colorLogo);
    filter: saturate(190%);
    -webkit-transform:scale(1);
    transform:scale(1.1);
}

/*===SHOWMORE-BUTTON====*/

/*======================CONTACT======================*/
.form-contact {
    color: var(--colorOscuro);
    background-color: transparent !important;
}

.text-primary {
    color: var(--colorLogo) !important;
}

.btn-contact {
    background-color: var(--colorLogo) !important;
}

/*======================STATS======================*/
caption {	
    color: var(--colorLogo) !important;
}

.table td, .table th {
    border: 1px solid #000000;
}

/*======================DETAILS======================*/
.imageDetail {
    min-height: 25vh;
}

/*======================FOOTER======================*/
footer {
    width: 100%;
    padding: 1%;
}

.eventImg {
    height: 10rem;
}

/*======================MEDIA-QUERIES======================*/

/*Celus muy pequenios*/
@media (max-width: 575.98px){
    .cardDetails {
        flex-direction: column !important;
        align-items: center;
    }
    .card-text-details {
        width: 10rem;
        height: 15rem;
    }
}

/*Celus pequenios*/
@media (min-width: 576px) and (max-width: 767px){
    .cardDetails {
        flex-direction: column !important;
        align-items: center;
    }
    .card-text-details {
        width: 15rem;
        height: 15rem;
    }

}

/*Tablets*/
@media (min-width: 768px) and (max-width: 991px) {
    .cardDetails {
        flex-direction: column !important;
        align-items: center;
    }
    .card-text-details {
        width: 15rem;
        height: 15rem;
    }
    .img-details {
        border: 1px solid #eee;
        width: 15rem;
        height: 15rem;
    }
}

/*Celus pc*/
@media (min-width: 992px){

}

/*======================JAVASCRIPT======================*/
.filterCheckboxSearch, .filterInputSearch, filter {
    display: none;
}