* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colorLogo: rgb(217, 3, 104);
}

main {
    min-height: 85.3vh;
}

/*======================NAVBAR======================*/
.navbarLogo {
    width: 60px;
    height: 20px;
}


/*======================TITLE======================*/
.title {
    position: relative;
    top: 56px;
    width: 100%;
    border: 1px solid black;
    background-color: beige;
}

.title a {
    text-decoration: none;
    color: black;
}

/*======================CHECKBOXES======================*/
.searchBar {
    margin-top: 70px;
    margin-bottom: -70px;
}
.categoryCheckboxes {
    width: 50vh;
}

/*======================MAIN-CARDS======================*/
#cards {
    margin-top: 5%;
    margin-bottom: 3%;
}

.cardMain {
    margin-bottom: 20px;
    max-height: 20%;
    transition: all 0.3s ease-out 5ms;
}

.cardMain:hover {
    border: 1px solid red;
    box-shadow: 0 0 10px 2px var(--colorLogo);
}

/*===SHOWMORE-BUTTON====*/

/*======================CONTACT======================*/
.form-contact {
    padding: 10vh;
    position: absolute;
    top: 15%;
    color: rgb(33,37,41);
}

.text-primary {
    color: var(--colorLogo) !important;
}

.btn-contact {
    background-color: var(--colorLogo) !important;
}

/*======================STATS======================*/
caption {	
    color: var(--colorLogo) !important;
}

.table-container {
    padding: 10vh;
    position: relative;
    top: 10vh;
}

.table td, .table th {
    border: 1px solid black;
}

/*======================DETAILS======================*/
.mainDetails {
    padding: 10% 0 0 0;
}

.cardDetails {
    width: 50%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.card-text-details {
    width: 18rem;
    height: 15rem;
}
.img-details {
    border: 1px solid #eee;
    width: 18rem;
    height: 15rem;
}


/*======================FOOTER======================*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1%;
}

.eventImg {
    height: 10rem;
}

/*======================MEDIA-QUERIES======================*/

/*Celus muy pequenios*/
@media (max-width: 575.98px){
    .cardDetails {
        flex-direction: column !important;
        align-items: center;
    }
    .card-text-details {
        width: 10rem;
        height: 15rem;
    }
}

/*Celus pequenios*/
@media (min-width: 576px) and (max-width: 767px){
    .cardDetails {
        flex-direction: column !important;
        align-items: center;
    }
    .card-text-details {
        width: 15rem;
        height: 15rem;
    }

}

/*Tablets*/
@media (min-width: 768px) and (max-width: 991px) {
    .cardDetails {
        flex-direction: column !important;
        align-items: center;
    }
    .card-text-details {
        width: 15rem;
        height: 15rem;
    }
    .img-details {
        border: 1px solid #eee;
        width: 15rem;
        height: 15rem;
    }
}

/*Celus pc*/
@media (min-width: 992px){

}